<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/52415d4f39.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="asset.css">
    <link rel="stylesheet" href="posisi.css">
    <title>Dashboard Administrator</title>
</head>
<body class="dasboardAdmin">
    <div class="body-left">
        <div class="navigation">
            <div class="user">
                <i class="fa-solid fa-circle-user fa-6x"></i>
                <h3>Faisal Surya</h3>
                <p>Administrator</p>
            </div>
            <div class="links">
                <a href="adminDasboard" class="link active">
                    <i class="fa-solid fa-book fa-2x"></i>
                    <h2>Manage Topic</h2>
                </a>
                <a href="adminUpload" class="link">
                    <i class="fa-solid fa-cloud-arrow-up fa-2x"></i>
                    <h2>Upload Topic</h2>
                </a>
                <a href="adminManageAkun" class="link">
                    <i class="fa-solid fa-user-pen fa-2x"></i>
                    <h2>Manage Account</h2>
                </a>
                <a href="adminManageTimeline" class="link">
                    <i class="fa-solid fa-calendar fa-2x"></i>
                    <h2>Manage Timeline</h2>
                </a>
            </div>
            <div class="logout">
                <a href="adminLogin" class="link">
                    <i class="fa-solid fa-arrow-right-from-bracket fa-3x"></i>
                </a>
            </div>
        </div>
    </div>
    
    <div class="body-right">
        <div class="head">
            <div class="top">
                <h1>Topic</h1>
                <div class="dropdown">
                    <select name="dropdown-tahun" id="">
                        <option value="value">1</option>
                        <option value="value">2</option>
                        <option value="value">3</option>
                        <option value="value">4</option>
                    </select>
                </div>
            </div>
            <div class="bot">
                <div class="filter" id="filter-active"><p>All</p></div>
                <div class="filter"><p>Open</p></div>
                <div class="filter"><p>Approved</p></div>
                <div class="filter"><p>Declined</p></div>
                <a href="adminReview"><div class="filter"><p>Review</p></div></a>
            </div>
        </div>
        <% for (const row of result){ %> 
        <div class="box-content-admin">
            <div class="box-front">
                <div class="left">
                    <h2><%= row.Judul %></h2>
                    <h2><%= row.namaDosen %></h2>
                    <p><%= row.noSkripsi %></p>
                </div>
                
                <div class="right">
                    <i class="fa-solid fa-cloud-arrow-down fa-3x"></i>
                    <a href="adminManageTopik"><i class="fa-solid fa-gear fa-3x"></i></a>
                </div>
            </div>
            <div class="box-back">
                <h2><%= row.status %></h2>
                <h2><%= row.Tipe %></h2>
            </div>
        </div>
        <% } %> 
    </div>
</body>
</html>